{% extends 'layout.html' %}

    {% block body %}
    
    <div class="container">

        <form class="contact-form m-auto" action="/contact" method="post">
            <!-- <div class="nameinp">
                <div class="input-field w-50">
                    <span class="inputSpan">FIRST NAME</span>
                    <input type="text" name="first_name">
                </div>

                <div class="input-field w-50">
                    <span class="inputSpan">LAST NAME</span>
                    <input type="text" name="last_name">
                </div>
            </div> -->
            <div class="input-field">
                <span class="inputSpan">NAME</span>
                <input type="text" name="name">
            </div>
            <div class="input-field">
                <span class="inputSpan">EMAIL</span>
                <input type="email" name="email">
            </div>
            <div class="input-field">
                <span class="inputSpan">MESSAGE</span>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
            </div>

            <button type="submit" class="btn" id="btn">SUBMIT</button>
        </form>
    </div>
    {% endblock %}

